/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */
:root{
    --grey-text: rgb(148, 148, 148);
    --sidebar-wdt: 150px;
    --player-height: 50px;
}

/* UTILITIES */
.flex{
    display: flex;
}

.fixed{
    position: fixed;
}

.sticky{
    position: sticky;
}

.albums > p{
    font-size: 0.6rem;
    color: var(--grey-text);
}

.sect-titles{
    font-size: 1rem;
}

/* GENERAL */
img{
    width: 100%;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/* CLASSES */
.wrapper{
    width: 100%;
    height: 100vh;

    /* debug */ 
    background-color: salmon;
}

.main{
    height: calc(100% - var(--player-height));
}

.nav-list{
    justify-content: center;
    gap: 15px;
    margin: 15px 0;
}

ul{
    list-style-type: none;
    font-size: 0.6rem;
}

.nav-list > li > a{
    text-decoration: none;
    color: var(--grey-text);
}

.navlinks > li > a{
    display: inline-block;
    text-decoration: none;
    color: var(--grey-text);
    margin: 5px 0;
}

.player{
    height: var(--player-height);
    width: 100%;

    /* debug */
    background-color: yellow;
}

.sidebar-left{
    width: var(--sidebar-wdt);
    height: 100%;

    /* debug */
    background-color: black;
}

.sidebar-content-container{
    width: 100%;
    margin: 10px 38px 10px 10px;
    flex-direction: column;
}

.logo{
    width: 60%;
}

.add-string{
    width: 100%;
    align-items: center;
    
}

.navlinks{
    width: 100%;
    margin: 10px 38px 10px 0;
}

.content{
    width: calc(100% - var(--sidebar-wdt));
    height: 100%;
    overflow-y: auto;
    
    /* debug */
    background-color: #242424;
}

.cta{
    right: 0;
    top: 0;
    height: 80px;
    width: 100%;
    background-color: rgba(0,0,0,0.5)
}

.albums-list{
    flex-wrap: wrap;
}

.albums{
    width: calc(100% / 6  - 40px);
    margin: 20px;
    flex-direction: column;
    align-items: center;

    /* debug */
    border: 1px solid black;
}

.recently-played{

}

.selected-4-you{

}

/* .header{
    flex-direction: column;
} */

/* .topbar{
    background-color: yellow;
    width: 100%;
    height: 100px;
} */

/* .navbar{
    width: calc(100% - 200px);
    height: 80px;
    background-color: violet;
}

.recent-play{
    margin-top: 180px;
} */