/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */
:root{
    --grey-text: rgb(148, 148, 148);
    --sidebar-wdt: 150px;
    --sidebar-wdt-small: 50px;
    --player-height: 65px;
    --cta-height: 80px;
    --playbar-margin: 10px;
}

/* UTILITIES */
.flex{
    display: flex;
}

.fixed{
    position: fixed;
}

.sticky{
    position: sticky;
}

.white{
    color: white;
}

.albums > p{
    font-size: 0.6rem;
    color: var(--grey-text);
}

.paragraphs-text{
    font-size: 0.6rem;
    color: var(--grey-text);
}

.sect-titles{
    font-size: 1rem;
    color: white;
}

.align-center{
    align-items: center;
}

/* GENERAL */
img{
    width: 100%;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/* CLASSES */
.wrapper{
    width: 100%;
    height: 100vh;

    /* debug */ 
    background-color: salmon;
}

.main{
    height: calc(100% - var(--player-height));
}

.nav-list{
    justify-content: center;
    gap: 15px;
    margin: 15px 0 25px;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
    font-size: 0.6rem;
}

.nav-list > li > a{
    text-decoration: none;
    color: var(--grey-text);
}

.navlinks > li > a{
    display: inline-block;
    text-decoration: none;
    color: var(--grey-text);
    margin: 5px 0;
}

.navlinks i{
    margin-right: 5px;
}

.player{
    height: var(--player-height);
    width: 100%;

    /* debug */
    background-color: #2c2c2c;
}

.player-container{
    height: var(--player-height);
    width: 100%;
    align-items: center;
}

.player-sections{
    align-items: center;
    width: calc(100% / 3);
}

.player-left-container{
    gap: 25px;
    margin-left: 5px;
}

.player-left-sect{
    justify-content: space-between;
    align-items: center;
}

.player-left-sect > img{
    width: 30px;
}

.player-cntr-container{
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.player-cntr-sect{
    height: 100%;
    flex-direction: column;
}

.player-cntr-actions{
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    gap: 25px;
}

.player-cntr-actions > i:nth-child(3){
    font-size: 1.5rem;
}

.player-right-container{
    justify-content: flex-end;
    margin-right: 5px;
}

.player-right-actions{
    align-items: center;
    gap: 10px;
}

.player-icons{
    color: rgb(209, 209, 209);
    font-size: 0.7rem;
}

.play-bar-container{
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.play-bar-container h6{
    font-size: 0.45rem;
}

.play-bar-total{
    height: 3px;
    width: 100%;
    background-color: #606060;
    border-radius: 3px;
    margin: 0 var(--playbar-margin);
}

.play-bar-partial{
    height: 3px;
    width: 30%;
    background-color: #aeaeae;
    border-radius: 3px;
}

.vol-bar-total{
    height: 3px;
    width: 100px;
    background-color: #606060;
    border-radius: 3px;
}

.vol-bar-partial{
    height: 3px;
    width: 30px;
    background-color: #aeaeae;
    border-radius: 3px;
}

.artist-title{
    margin-left: 10px;
}

.favs{
    font-size: 0.9rem;
    color: var(--grey-text);
}

.sidebar-left{
    width: var(--sidebar-wdt);
    height: 100%;

    /* debug */
    background-color: black;
}

.sidebar-content-container{
    height: 100%;
    width: 85%;
    margin: 10px 38px 10px 10px;
    flex-direction: column;
}

.sidebar-bottom-content{
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.sidebar-bottom-content > .paragraphs-text{
    gap: 5px;
}

.sidebar-bottom-content > div:last-child{
    gap: 5px;
}

.sidebar-bottom-content > h6 > i{
    font-size: 1.2rem;
}

.hr-style{
    margin: 10px 0;
    border-bottom: 1px solid rgba(0.5, 0.5, 0.5, 0.5);
}

.add-sect{
    align-items: center;
    color: var(--grey-text);
    gap: 5px;
    margin: 10px 0;
}

.add-list > li{
    margin-bottom: 10px;
}

.add-list > li > a{
    text-decoration: none;
    color: var(--grey-text);
}

.plus-icon{
    font-size: 1.5rem;
}

.sidebar-content-container > ul{
    color: var(--grey-text);
}

.logo{
    width: 60%;
}

.sidebar-content-container .logo:nth-child(2){
    display: none;
}

.add-string{
    width: 100%;
    align-items: center;
    
}

.navlinks{
    width: 100%;
    margin: 10px 38px 10px 0;
}

.navlinks > li:first-child{
    border-left: 2px solid lime;
    width: var(--sidebar-wdt);
    position: relative;
    left: -10px;
    padding-left: 8px;
}

.content{
    width: calc(100% - var(--sidebar-wdt));
    height: 100%;
    overflow-y: auto;
    background-color: #191e25;
}

.cta{
    right: 0;
    top: 0;
    height: 80px;
    width: 100%;
    background-color: rgba(0,0,0,0.5)
}

.header-container{
    height: var(--cta-height);
    justify-content: flex-end;
    align-items: center;
}

.header-container > a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 0.6rem;
    margin-right: 15px;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 25px;
}

.recently-played > h2{
    margin-left: 10px;
}

.albums-list{
    flex-wrap: wrap;
}

.albums{
    width: calc(100% / 6 - 20px);
    margin: 20px 10px;
    gap: 5px;
    flex-direction: column;
    align-items: center;
}

.albums > h5{
    font-size: 0.6rem;
}

.sect-titles-container  > p{
    font-size: 0.6rem;
    color: var(--grey-text);
}

.selected-4-you, .popular-artists{
    margin-left: 10px;
}

.rounded-img{
    border-radius: 50%;
}



@media screen and (max-width: 700px) {
    .albums{
        width: calc(100% / 4 - 20px);
    }
}

@media screen and (max-width: 600px) {
    .albums{
        width: calc(100% / 2 - 20px);
    }

    .favs{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .sidebar-left{
        width: var(--sidebar-wdt-small);
    }

    .sidebar-content-container{
        align-items: center;
        margin: 0;
        width: 100%;
    }

    .content{
        width: calc(100% - var(--sidebar-wdt-small));
    }

    .navlinks span{
        display: none;
    }

    .navlinks > li{
        width: var(--sidebar-wdt-small);
        text-align: center;
        margin-left: 22px;
        font-size: 0.8rem;
    }

    .navlinks > li:first-child{
        width: var(--sidebar-wdt-small);
        padding-left: 2px;
        text-align: center;
        margin-left: 0;
        left: 19px;
    }

    .sidebar-content-container .logo:nth-child(2){
        display: inline-block;
        margin-top: 10px;
        width: 50%;
    }

    .sidebar-content-container > .logo{
        display: none;
    }

    .sidebar-content-container h6, .add-sect, .add-list, .paragraphs-text span, .hr-style{
        display: none;
    }

    .sidebar-bottom-content > .paragraphs-text {
        justify-content: center;
        margin-bottom: 15px;
    }

    .albums > h5 {
        font-size: 0.75rem;
    }

    .albums > p{
        font-size: 0.65rem;
    }
}